:root {
  --bg: #000000;
  --bg-secondary: #111111;
  --border: #262626;
  --border-radius: 4px;
  --text-primary: #eeeeee;
  --text-secondary: #555555;
  --accent-green: #5a9c6d;
  --accent-orange: #d4884a;
  --accent-red: #e86060;
  --accent-blue: #6aafd4;
  --font-primary: 'Exo 2', sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
